[user]
	name = Luis Antonio Vieira Junior
	email = lvieira@lvieira.com
	username = lvieirajr
	signingkey = ssh-ed25519 <KEY_HERE>

[core]
	attributesfile = ~/.gitattributes
	editor = vim
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
	trustctime = false
	untrackedCache = true
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[gpg]
	format = ssh

[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[init]
	defaultBranch = main

[branch]
	sort = -committerdate

[diff]
	renames = copies
	tool = vimdiff

[diff "bin"]
	texconv = hexdumo -v -C

[difftool]
	prompt = false

[apply]
	whitespace = fix

[commit]
	gpgsign = true

[push]
	autoSetupRemote = true
	default = simple
	followTags = true

[merge]
	log = true

[help]
	autocorrect = 1

[color]
	ui = auto

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
